<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>CRUD Personas</title>
    <link href="../Content/StyleSheet.css" rel="stylesheet" />
    <script src="../Scripts/FuncionesAJAX.js"></script>
</head>
<body>

    <h2>Personas</h2>
    <br />

    <input id="create" type="image" src="Imagenes/add.png" width="20" height="20" />  Create new
    <br /><br />

    <table id="tablaPersonas">

        <tr>
            <th>id</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Fecha nacimiento</th>
            <th>Direccion</th>
            <th>Telefono</th>
            <th>Departamento</th>
            <th>Botonez Broda</th>
        </tr>

    </table>

    <div id="modalEliminar" class="modal">
        <div class="modal-content">
            <p>Esta seguro?</p>
            <button id="AceptarEliminar">Aceptar</button>
            <button id="CancelarEliminar">Cancelar</button>
        </div>
    </div>

    <div id="modalCrear" class="modal">
            <form id="form" class="modal-content">
                <label>Nombre</label> <br />
                <input id="nombre" type="text" required/><br /><br />
                <label>Apellidos</label><br />
                <input id="apellidos" type="text" required/><br /><br />
                <label>Direccion</label><br />
                <input id="direccion" type="text" required/><br /><br />
                <label>Telefono</label><br />
                <input id="telefono" type="text" required/><br /><br />
                <label>Fecha de nacimiento</label><br />
                <input id="fechaNacimiento" type="date" required/><br /><br />
                <label>id departamento</label><br />
                <input id="idDepartamento" type="number" required/><br /><br /><br />

                <button id="botonCrear">Crear</button>
                <button id="botonCancelar">Cancelar</button>

            </form>
    </div>

</body>
</html>